n8n-workflows/riusc-envoi-mobilisation-portail.json
{
  "name": "RIUSC - Envoi Mobilisation depuis Portail",
  "nodes": [
    {
      "parameters": {
        "content": "## RIUSC - Envoi Mobilisation depuis Portail\n\n**Trigger:** Webhook HTTP POST depuis /admin/operations (étape 8)\n\n**Body attendu (mode réel):**\n```json\n{\n  \"deployment_id\": \"uuid\",\n  \"vague_ids\": [\"uuid1\", \"uuid2\"],\n  \"message_override\": \"Texte personnalisé par l'admin\",\n  \"type_envoi\": \"mobilisation\"\n}\n```\n\n**Body attendu (mode TEST):**\n```json\n{\n  \"test\": true,\n  \"test_destinataire\": { benevole_id, prenom, nom, email, telephone },\n  \"deployment_id\": \"uuid\",\n  \"vague_ids\": [\"uuid1\"],\n  \"message_override\": \"...\",\n  \"type_envoi\": \"mobilisation\"\n}\n```\nEn mode test : on n'envoie qu'à `test_destinataire` et on NE touche PAS\nau statut des ciblages en DB.\n\n**Flow:**\n1. Reçoit le POST du portail\n2. Charge les vagues + réservistes disponibles (ou utilise test_destinataire si test=true)\n3. Envoie SMS (Twilio) + Courriel (Gmail SMTP) à chacun\n4. Met à jour ciblages.statut → 'mobilise' (sauf en test)\n5. Répond {success: true}\n\n**Twilio:** +14388073137\n**SMTP:** riusc@aqbrs.ca",
        "height": 440,
        "width": 440
      },
      "id": "6d6fad30-181c-472f-9ca3-a10bd33ce8df",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5040,
        928
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "riusc-envoi-mobilisation-portail",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5cd19857-ace2-45ad-99e0-3e6a73ede2e7",
      "name": "1. Webhook Portail",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5520,
        1232
      ],
      "webhookId": "riusc-envoi-mobilisation-portail"
    },
    {
      "parameters": {
        "jsCode": "// ── Lecture du body ──────────────────────────────────────────\nconst body = $input.item.json.body || $input.item.json;\nconst deployment_id    = body.deployment_id;\nconst vague_ids        = body.vague_ids || [];\nconst message_override = body.message_override || '';\nconst isTest           = body.test === true;\nconst testDest         = body.test_destinataire || null;\n\nif (!deployment_id) {\n  return { json: { skip: true, reason: 'deployment_id manquant' } };\n}\nif (!isTest && !vague_ids.length) {\n  return { json: { skip: true, reason: 'vague_ids manquants (mode réel)' } };\n}\n\nconst SUPA_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst H = { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json' };\n\nif (isTest) {\n  console.log('🧪 Mode TEST — destinataire unique:', testDest?.email, testDest?.telephone);\n}\n\n// ── 1. Charger le déploiement ─────────────────────────────────\nconst deps = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `https://jtzwkmcfarxptpcoaxxl.supabase.co/rest/v1/deployments?id=eq.${deployment_id}&select=id,identifiant,nom,lieu,date_debut,date_fin,nb_personnes_par_vague,point_rassemblement`,\n  headers: H\n});\nconst dep = deps?.[0] || {};\nconsole.log('Déploiement:', dep.nom, '| Lieu:', dep.lieu);\n\n// ── 2. Charger les vagues (si pas test ou test avec vagues) ──\nlet vagues = [];\nif (vague_ids.length) {\n  vagues = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://jtzwkmcfarxptpcoaxxl.supabase.co/rest/v1/vagues?or=(${vague_ids.map(id=>`id.eq.${id}`).join(',')})&select=id,identifiant,numero,date_debut,date_fin,nb_personnes_requis`,\n    headers: H\n  });\n  console.log('Vagues chargées:', vagues?.length || 0);\n}\n\n// Résumé des rotations pour le message\nconst rotationsTexte = (vagues || []).map(v => {\n  const id = v.identifiant || `Rotation #${v.numero}`;\n  return `${id} : ${v.date_debut} → ${v.date_fin}${v.nb_personnes_requis ? ' (' + v.nb_personnes_requis + ' pers.)' : ''}`;\n}).join('\\n');\n\nconst v0 = vagues?.[0] || {};\nconst dateDebutAff = v0.date_debut ? v0.date_debut.split('-').reverse().join('/') : '';\nconst dateFinAff   = v0.date_fin   ? v0.date_fin.split('-').reverse().join('/')   : '';\nconst vagNom = v0.identifiant || (v0.numero ? `Rotation #${v0.numero}` : 'Rotation');\n\n// ── 3. TEST ou RÉEL : déterminer les destinataires ───────────\nlet reservistes = [];\n\nif (isTest) {\n  if (!testDest?.email && !testDest?.telephone) {\n    return { json: { skip: true, reason: 'TEST sans email ni telephone' } };\n  }\n  reservistes = [{\n    benevole_id: testDest.benevole_id || 'TEST',\n    prenom:      testDest.prenom || 'Test',\n    nom:         testDest.nom || '',\n    email:       testDest.email || null,\n    telephone:   testDest.telephone || null\n  }];\n} else {\n  // Réservistes disponibles (disponibilites_v2 où disponible=true)\n  const dispos = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://jtzwkmcfarxptpcoaxxl.supabase.co/rest/v1/disponibilites_v2?deployment_id=eq.${deployment_id}&disponible=eq.true&select=benevole_id`,\n    headers: H\n  });\n  const idsUniques = [...new Set((dispos || []).map(d => d.benevole_id))];\n  console.log('Réservistes disponibles:', idsUniques.length);\n  if (!idsUniques.length) {\n    return { json: { skip: true, reason: 'Aucun réserviste disponible trouvé' } };\n  }\n  const inFilter = idsUniques.map(id => `benevole_id.eq.${id}`).join(',');\n  reservistes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://jtzwkmcfarxptpcoaxxl.supabase.co/rest/v1/reservistes?or=(${inFilter})&select=benevole_id,prenom,nom,email,telephone`,\n    headers: H\n  });\n  console.log('Réservistes chargés:', reservistes?.length || 0);\n}\n\nconst timestamp_envoi = new Date().toISOString();\n\n// ── 3b. Séparer le contenu SMS du contenu courriel ─────────\n// Si le message contient un bloc ---SMS--- ... ---FIN---, on le retire\n// du message destiné au courriel (sinon il apparaîtrait brut dedans).\nconst message_override_clean = message_override\n  ? message_override.replace(/---SMS---[\\s\\S]*?---FIN---\\s*\\n?/i, '').trim()\n  : '';\n\n// ── 4. Envoyer SMS à chaque réserviste ───────────────────────\nconst resultats = [];\n\nfor (const r of (reservistes || [])) {\n  if (!r.prenom) continue;\n\n  if (r.telephone) {\n    try {\n      const smsPrefix = isTest ? '[TEST] ' : '';\n      // Détection du bloc SMS dédié dans le message : ---SMS--- ... ---FIN---\n      // Si présent : ce contenu est utilisé pour le SMS.\n      // Sinon : on tombe en fallback sur les 3 premières lignes (ancienne logique).\n      const smsMatch = message_override && message_override.match(/---SMS---\\s*\\n([\\s\\S]*?)\\n---FIN---/i);\n      let smsBody;\n      if (smsMatch) {\n        smsBody = smsPrefix + smsMatch[1].trim().substring(0, 160 - smsPrefix.length);\n      } else if (message_override) {\n        smsBody = smsPrefix + message_override.split('\\n').slice(0, 3).join(' ').substring(0, 160 - smsPrefix.length);\n      } else {\n        smsBody = `${smsPrefix}RIUSC – Mobilisation confirmée\\n${dep.nom || ''}${dep.lieu ? ' · ' + dep.lieu : ''}\\n${vagNom} : ${dateDebutAff}${dateFinAff ? ' → ' + dateFinAff : ''}\\nhttps://portail.riusc.ca/mobilisation`;\n      }\n\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: `https://api.twilio.com/2010-04-01/Accounts/${$env.TWILIO_ACCOUNT_SID}/Messages.json`,\n        auth: { username: $env.TWILIO_ACCOUNT_SID, password: $env.TWILIO_AUTH_TOKEN },\n        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n        body: `From=%2B14388073137&To=%2B1${r.telephone.replace(/\\D/g,'')}&Body=${encodeURIComponent(smsBody)}`\n      });\n      console.log(`${isTest ? '🧪 TEST ' : ''}SMS mobilisation envoyé à`, r.telephone);\n    } catch (e) {\n      console.log('Erreur SMS', r.benevole_id, e.message);\n    }\n  }\n\n  resultats.push({\n    isTest,\n    benevole_id:      r.benevole_id,\n    prenom:           r.prenom,\n    nom:              r.nom,\n    email:            r.email,\n    telephone:        r.telephone,\n    nom_deploiement:  (isTest ? '[TEST] ' : '') + (dep.nom || ''),\n    lieu:             dep.lieu || '',\n    point_rassemblement: dep.point_rassemblement || '',\n    date_debut_dep:   dep.date_debut || '',\n    vag_nom:          vagNom,\n    date_debut_vag:   dateDebutAff,\n    date_fin_vag:     dateFinAff,\n    rotations_texte:  rotationsTexte,\n    message_override: message_override_clean,\n    deployment_id,\n    timestamp_envoi\n  });\n}\n\nif (!resultats.length) {\n  return { json: { skip: true, reason: 'Aucun réserviste avec profil complet trouvé' } };\n}\n\nreturn resultats.map(r => ({ json: r }));"
      },
      "id": "7c72cf5b-31b5-4630-9c70-88eeb2603888",
      "name": "2. Charger + SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5744,
        1232
      ]
    },
    {
      "parameters": {
        "fromEmail": "riusc@aqbrs.ca",
        "toEmail": "={{ $json.email }}",
        "subject": "=RIUSC – Confirmation de mobilisation – {{ $json.nom_deploiement }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f7;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f7;padding:32px 16px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\">\n\n<!-- Header vert mobilisation -->\n<tr>\n<td style=\"background:linear-gradient(135deg,#064e3b 0%,#065f46 100%);padding:36px 40px;text-align:center;\">\n<h1 style=\"margin:0 0 8px 0;color:#ffffff;font-size:26px;font-weight:700;\">✅ Confirmation de mobilisation</h1>\n<p style=\"margin:0;color:rgba(255,255,255,0.85);font-size:15px;\">Réserve d'intervention d'urgence en sécurité civile</p>\n</td>\n</tr>\n\n<!-- Corps -->\n<tr>\n<td style=\"padding:36px 40px;\">\n\n<p style=\"margin:0 0 20px 0;color:#111827;font-size:15px;line-height:1.6;\">\nBonjour <strong>{{ $json.prenom }}</strong>,\n</p>\n\n<!-- Message personnalisé de l'admin (message_override) -->\n<div style=\"margin:0 0 28px 0;color:#1f2937;font-size:14px;line-height:1.8;white-space:pre-line;\">{{ $json.message_override }}</div>\n\n<!-- Fiche déploiement -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 24px 0;\">\n<tr><td style=\"background-color:#f0fdf4;border-left:4px solid #10b981;padding:16px 20px;border-radius:0 8px 8px 0;\">\n<p style=\"margin:0 0 8px 0;color:#065f46;font-size:15px;font-weight:700;\">{{ $json.nom_deploiement }}</p>\n{{ $json.lieu ? '<p style=\"margin:0 0 6px 0;color:#374151;font-size:14px;\">📍 <strong>Lieu :</strong> ' + $json.lieu + '</p>' : '' }}\n{{ $json.point_rassemblement ? '<p style=\"margin:0 0 6px 0;color:#374151;font-size:14px;\">📌 <strong>Point de rassemblement :</strong> ' + $json.point_rassemblement + '</p>' : '' }}\n<p style=\"margin:0 0 6px 0;color:#374151;font-size:14px;\">🔄 <strong>Rotation :</strong> {{ $json.vag_nom }}</p>\n<p style=\"margin:0;color:#374151;font-size:14px;\">📅 <strong>Dates :</strong> {{ $json.date_debut_vag }}{{ $json.date_fin_vag ? ' → ' + $json.date_fin_vag : '' }}</p>\n</td></tr>\n</table>\n\n<!-- Bouton confirmer -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 28px 0;\">\n<tr><td align=\"center\">\n<a href=\"https://portail.riusc.ca/mobilisation\" target=\"_blank\"\n  style=\"display:inline-block;background-color:#065f46;color:#ffffff;padding:14px 40px;border-radius:6px;text-decoration:none;font-size:16px;font-weight:700;\">\n  Confirmer ma présence\n</a>\n</td></tr>\n</table>\n\n<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:0 0 24px 0;\">\n\n<p style=\"margin:0 0 6px 0;color:#6b7280;font-size:13px;\">\nEn cas d'empêchement, contactez-nous immédiatement à\n<a href=\"mailto:riusc@aqbrs.ca\" style=\"color:#2563eb;text-decoration:none;\">riusc@aqbrs.ca</a>\n</p>\n<p style=\"margin:0 0 20px 0;color:#6b7280;font-size:13px;\">Ce message a été généré automatiquement depuis le portail RIUSC.</p>\n\n<p style=\"margin:0 0 4px 0;color:#111827;font-size:14px;\">Cordialement,</p>\n<p style=\"margin:0;color:#111827;font-size:14px;font-weight:700;\">L'équipe RIUSC — AQBRS</p>\n\n</td>\n</tr>\n\n<!-- Footer -->\n<tr>\n<td style=\"background-color:#f8fafc;padding:20px 40px;text-align:center;border-top:1px solid #e5e7eb;\">\n<p style=\"margin:0 0 4px 0;color:#9ca3af;font-size:12px;\">Association québécoise des bénévoles en recherche et sauvetage</p>\n<p style=\"margin:0;\"><a href=\"https://portail.riusc.ca\" style=\"color:#9ca3af;font-size:12px;\">portail.riusc.ca</a></p>\n</td>\n</tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e7f56071-6fc0-4ed3-a281-607ee713850a",
      "name": "3. Envoyer Courriel",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5968,
        1232
      ],
      "webhookId": "25e5b647-d09b-4743-8ca9-0cc80dcbf37f",
      "credentials": {
        "smtp": {
          "id": "GPgBFn8u3hqi0e9T",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Met à jour ciblages.statut → 'mobilise' dans Supabase\nconst data = $input.item.json;\nif (data.skip) return { json: { skip: true } };\n\n// 🧪 Mode TEST : on ne touche PAS à la DB\nif (data.isTest) {\n  console.log('🧪 TEST — skip update DB pour', data.benevole_id);\n  return { json: { success: true, benevole_id: data.benevole_id, timestamp: data.timestamp_envoi, isTest: true } };\n}\n\nconst SUPA_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst H = { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `https://jtzwkmcfarxptpcoaxxl.supabase.co/rest/v1/ciblages?niveau=eq.deploiement&reference_id=eq.${data.deployment_id}&benevole_id=eq.${data.benevole_id}`,\n    headers: H,\n    body: JSON.stringify({ statut: 'mobilise', updated_at: data.timestamp_envoi })\n  });\n  console.log('Supabase ciblage mobilisé:', data.benevole_id);\n} catch (e) {\n  console.log('Erreur Supabase update ciblage:', e.message);\n}\n\nreturn { json: { success: true, benevole_id: data.benevole_id, timestamp: data.timestamp_envoi } };"
      },
      "id": "2eb67166-61c3-45fd-9bc4-d94aefaa2b7a",
      "name": "4. Update Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6192,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agrège les résultats et répond au portail\nconst items = $input.all();\nconst nb_envoyes = items.filter(i => i.json.success).length;\nconst nb_erreurs = items.filter(i => i.json.skip).length;\nconst isTest = items.some(i => i.json.isTest);\nconsole.log(`${isTest ? '🧪 TEST ' : ''}Mobilisation terminée: ${nb_envoyes} envoyé(s), ${nb_erreurs} ignoré(s)`);\nreturn { json: { done: true, nb_envoyes, nb_erreurs, isTest } };"
      },
      "id": "a7cbe271-3e0c-43cb-aa22-393e651644fd",
      "name": "5. Agréger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        1232
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"nb_envoyes\": $json.nb_envoyes, \"isTest\": $json.isTest || false } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "499ad180-b823-428e-83d2-19ba1643a93e",
      "name": "6. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6624,
        1232
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "1. Webhook Portail": {
      "main": [
        [
          {
            "node": "2. Charger + SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Charger + SMS": {
      "main": [
        [
          {
            "node": "3. Envoyer Courriel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Envoyer Courriel": {
      "main": [
        [
          {
            "node": "4. Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Update Supabase": {
      "main": [
        [
          {
            "node": "5. Agréger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Agréger": {
      "main": [
        [
          {
            "node": "6. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
