n8n-workflows/riusc-envoi-campagne-resend.json
{
  "name": "RIUSC - Envoi Campagne Courriel (Resend + PJ)",
  "nodes": [
    {
      "parameters": {
        "content": "## RIUSC - Envoi Campagne Courriel via Resend\n\n**Trigger:** Webhook POST depuis le portail\n\n**Flow:**\n1. Recoit webhook avec campagne_id + storage_paths des PJ + cles API\n2. Charge les courriels queued depuis Supabase\n3. Telecharge les PJ depuis Supabase Storage (1 seule fois)\n4. Boucle sur chaque destinataire - POST Resend API\n5. Met a jour statut + resend_id dans table courriels\n6. Met a jour total_envoyes dans courriel_campagnes\n\n**Avantage:** Pas de timeout Vercel. n8n boucle a son rythme.\n\n**Cles API:** passees par le portail dans le webhook (pas besoin de $env).",
        "height": 380,
        "width": 460
      },
      "id": "doc-sticky",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3200, 600]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "riusc-envoi-campagne",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "1. Webhook Portail",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [3400, 1000],
      "webhookId": "riusc-envoi-campagne"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Envoi en cours\" } }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "2. Repondre OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3624, 1000]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst campagne_id = body.campagne_id;\nconst attachments = body.attachments || [];\nconst reply_to = body.reply_to || '';\nconst from_name = body.from_name || 'RIUSC';\nconst from_email = body.from_email || 'noreply@aqbrs.ca';\nconst signature_html = body.signature_html || '';\nconst inbound_domain = body.inbound_domain || 'reply.aqbrs.ca';\n\n// Cles API passees par le portail\nconst resend_api_key = body.resend_api_key;\nconst supabase_url = body.supabase_url;\nconst supabase_service_key = body.supabase_service_key;\n\nif (!campagne_id) throw new Error('campagne_id manquant');\nif (!resend_api_key) throw new Error('resend_api_key manquant');\nif (!supabase_service_key) throw new Error('supabase_service_key manquant');\n\nconsole.log('Campagne:', campagne_id, '- PJ:', attachments.length);\n\nreturn {\n  json: {\n    campagne_id,\n    attachments,\n    reply_to,\n    from_name,\n    from_email,\n    signature_html,\n    inbound_domain,\n    resend_api_key,\n    supabase_url,\n    supabase_service_key\n  }\n};"
      },
      "id": "extract-params",
      "name": "3. Extraire Parametres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3848, 1000]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.item.json;\nconst SUPA_KEY = params.supabase_service_key;\nconst SUPA_URL = params.supabase_url;\nconst headers = {\n  'apikey': SUPA_KEY,\n  'Authorization': 'Bearer ' + SUPA_KEY,\n  'Content-Type': 'application/json'\n};\n\n// 1. Charger tous les courriels queued de cette campagne\nconst courriels = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPA_URL}/rest/v1/courriels?campagne_id=eq.${params.campagne_id}&statut=eq.queued&select=id,benevole_id,to_email,subject,body_html&order=created_at.asc`,\n  headers\n});\n\nconsole.log('Courriels queued:', courriels.length);\n\nif (!courriels || courriels.length === 0) {\n  console.log('Aucun courriel queued pour cette campagne');\n  return { json: { ...params, courriels: [], attachments_base64: [] } };\n}\n\n// 2. Telecharger les PJ depuis Supabase Storage (1 seule fois)\nconst attachments_base64 = [];\nfor (const att of params.attachments) {\n  if (!att.storage_path) continue;\n  try {\n    console.log('Telechargement PJ:', att.filename, att.storage_path);\n    // Creer une URL signee\n    const signResult = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPA_URL}/storage/v1/object/sign/certificats/${att.storage_path}`,\n      headers,\n      body: JSON.stringify({ expiresIn: 3600 })\n    });\n    \n    if (signResult && signResult.signedURL) {\n      const fullUrl = signResult.signedURL.startsWith('http') \n        ? signResult.signedURL \n        : `${SUPA_URL}/storage/v1${signResult.signedURL}`;\n      \n      // Telecharger le fichier\n      const fileBuffer = await this.helpers.httpRequest({\n        method: 'GET',\n        url: fullUrl,\n        encoding: 'arraybuffer',\n        returnFullResponse: false,\n        json: false\n      });\n      \n      const base64 = Buffer.from(fileBuffer).toString('base64');\n      attachments_base64.push({\n        filename: att.filename,\n        content: base64\n      });\n      console.log('PJ telechargee:', att.filename, '- taille:', Math.round(base64.length / 1024), 'KB');\n    }\n  } catch (e) {\n    console.error('Erreur telechargement PJ:', att.filename, e.message);\n  }\n}\n\nreturn {\n  json: {\n    ...params,\n    courriels,\n    attachments_base64\n  }\n};"
      },
      "id": "load-data",
      "name": "4. Charger Courriels + PJ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4072, 1000]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst SUPA_KEY = data.supabase_service_key;\nconst SUPA_URL = data.supabase_url;\nconst RESEND_KEY = data.resend_api_key;\nconst supaHeaders = {\n  'apikey': SUPA_KEY,\n  'Authorization': 'Bearer ' + SUPA_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst courriels = data.courriels || [];\nif (courriels.length === 0) {\n  console.log('Aucun courriel a envoyer');\n  return { json: { campagne_id: data.campagne_id, envoyes: 0, echoues: 0 } };\n}\n\n// Preparer les PJ pour Resend (base64)\nconst resendAttachments = (data.attachments_base64 || []).map(a => ({\n  filename: a.filename,\n  content: a.content\n}));\n\nlet envoyes = 0;\nlet echoues = 0;\nconst BATCH_SIZE = 10;\n\nconsole.log(`Debut envoi: ${courriels.length} courriels, ${resendAttachments.length} PJ, lots de ${BATCH_SIZE}`);\n\nfor (let i = 0; i < courriels.length; i += BATCH_SIZE) {\n  const batch = courriels.slice(i, i + BATCH_SIZE);\n  \n  const results = await Promise.allSettled(\n    batch.map(async (courriel) => {\n      const dynamicReplyTo = `reply+${courriel.id}@${data.inbound_domain}`;\n      \n      try {\n        const response = await this.helpers.httpRequest({\n          method: 'POST',\n          url: 'https://api.resend.com/emails',\n          headers: {\n            'Authorization': `Bearer ${RESEND_KEY}`,\n            'Content-Type': 'application/json'\n          },\n          body: JSON.stringify({\n            from: `${data.from_name} <${data.from_email}>`,\n            to: [courriel.to_email],\n            subject: courriel.subject,\n            html: courriel.body_html,\n            reply_to: dynamicReplyTo,\n            headers: { 'X-Entity-Ref-ID': courriel.benevole_id },\n            tags: [{ name: 'source', value: 'portail-riusc' }],\n            ...(resendAttachments.length > 0 ? { attachments: resendAttachments } : {})\n          })\n        });\n        \n        const resendId = response?.id || null;\n        \n        await this.helpers.httpRequest({\n          method: 'PATCH',\n          url: `${SUPA_URL}/rest/v1/courriels?id=eq.${courriel.id}`,\n          headers: supaHeaders,\n          body: JSON.stringify({ statut: 'sent', resend_id: resendId })\n        });\n        \n        return { ok: true };\n      } catch (e) {\n        console.error('Erreur envoi', courriel.to_email, ':', e.message);\n        \n        try {\n          await this.helpers.httpRequest({\n            method: 'PATCH',\n            url: `${SUPA_URL}/rest/v1/courriels?id=eq.${courriel.id}`,\n            headers: supaHeaders,\n            body: JSON.stringify({ statut: 'failed' })\n          });\n        } catch (e2) {\n          console.error('Erreur update failed:', e2.message);\n        }\n        \n        return { ok: false, error: e.message };\n      }\n    })\n  );\n  \n  for (const r of results) {\n    if (r.status === 'fulfilled' && r.value.ok) envoyes++;\n    else echoues++;\n  }\n  \n  const done = Math.min(i + BATCH_SIZE, courriels.length);\n  console.log(`Progression: ${done}/${courriels.length} (${envoyes} ok, ${echoues} erreurs)`);\n}\n\n// Mettre a jour le total de la campagne\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPA_URL}/rest/v1/courriel_campagnes?id=eq.${data.campagne_id}`,\n    headers: supaHeaders,\n    body: JSON.stringify({ total_envoyes: envoyes })\n  });\n  console.log(`Campagne ${data.campagne_id} terminee: ${envoyes} envoyes, ${echoues} echoues`);\n} catch (e) {\n  console.error('Erreur update campagne:', e.message);\n}\n\nreturn {\n  json: {\n    campagne_id: data.campagne_id,\n    envoyes,\n    echoues,\n    total: courriels.length\n  }\n};"
      },
      "id": "send-loop",
      "name": "5. Envoyer via Resend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4296, 1000]
    }
  ],
  "pinData": {},
  "connections": {
    "1. Webhook Portail": {
      "main": [
        [
          { "node": "2. Repondre OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "2. Repondre OK": {
      "main": [
        [
          { "node": "3. Extraire Parametres", "type": "main", "index": 0 }
        ]
      ]
    },
    "3. Extraire Parametres": {
      "main": [
        [
          { "node": "4. Charger Courriels + PJ", "type": "main", "index": 0 }
        ]
      ]
    },
    "4. Charger Courriels + PJ": {
      "main": [
        [
          { "node": "5. Envoyer via Resend", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 3600,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
